*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgb(211, 211, 211);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.26);
    min-height: 80vh;
    max-height: fit-content;
    width: 60%;
    font-family: arial;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid black;
    padding: 1rem;
}

.container section, form, header{
    border: none;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.7rem;
    box-shadow: 0px 4px 10px rgba(0,0,0, 0.25);
}
h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn-container{
    display: flex;
    gap: 30px;
}

.btn{
    width: fit-content;
    color: white;
    background-image: linear-gradient(rgb(67, 67, 236), rgb(38, 38, 196));
    padding-inline: 0;
    padding-block: 0;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}



a.btn{
    text-decoration: none;
    display: inline;
    text-align: center;
}

.btn:hover{
    background: linear-gradient(rgb(39, 39, 136), rgb(12, 12, 61));
}


.btn-remove{
    background: linear-gradient(90deg, red, rgb(212, 22, 22));
}

.btn-remove:hover{
    background: linear-gradient(90deg, rgb(134, 0, 0), rgb(109, 12, 12));

}